<app-header></app-header>

<div class="container">
  <h1 class="title">Devices</h1>

  <p-table
    [value]="users"
    [paginator]="true"
    [rows]="10"
  >
    <ng-template pTemplate="header">
        <tr>
            <th style="width:25%">Full Name</th>
            <th style="width:25%">Email</th>
            <th style="width:25%"> </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
        <tr>
            <td>{{ user.firstName + ' ' + user.lastName}}</td>
            <td>{{ user.email }}</td>
            <td><a routerLink="/admin/user/{{ user.id }}" class="view">View</a></td>
        </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
        <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
    </ng-template>
    <ng-template pTemplate="paginatorright">
        <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
    </ng-template>
  </p-table>

</div>

<app-footer></app-footer>
