<app-header></app-header>

<div class="container">
  <h1 class="title">Devices</h1>

  <p-dataView #dv [value]="devices" [rows]="5" [paginator]="true">
    <ng-template let-product pTemplate="listItem">

        <div class="col-12">
            <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4">
                <img class="w-9 sm:w-16rem xl:w-10rem shadow-2 block xl:block mx-auto border-round" src="./../../../../../assets/images/s10plus.jpeg" width="200" [alt]="product.model" />
                <div class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4 info">
                    <div class="flex flex-column align-items-center sm:align-items-start gap-3 brand">
                        <div class="text-2xl font-bold text-900"><h3>{{ product.brand }}</h3></div>
                        <div class="flex align-items-center gap-3">
                            <span class="flex align-items-center gap-2">
                                <i class="pi pi-tag"></i>
                                <span class="font-semibold"><h6>{{ product.model }}</h6></span>
                            </span>
                        </div>
                    </div>
                    <div class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2 price">
                        <span class="text-2xl font-semibold "><strong class="device-price">{{ '$' + product.price }}</strong></span>
                        <a routerLink="/device/{{ product.id }}">
                          <button pButton icon="pi pi-shopping-cart" class="md:align-self-end mb-2 p-button-rounded" [disabled]="product.inventoryStatus === 'OUTOFSTOCK'">BUY</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </ng-template>
</p-dataView>

</div>

<app-footer></app-footer>
