.container {
  margin-top: 3rem;
  min-height: 80rem;
}

.title {
  margin-bottom: 3rem;
  text-align: center;
}

.articles {
  width: 100%;
  min-height: 60rem;
  background-color: blue;
}

.article {
  background-color: antiquewhite;
  float: left;
}

.info {
  width: 50rem;
  float: right;
  margin-top: 5rem;
}

.brand {
  float: left;
}

.price {
  float: right;
  text-align: center;
}

.price span {
  display: block;
  text-align: center;
}

.device-price {
  font-size: 1.3rem;
}
