<app-header></app-header>

<div class="container">
  <h1 class="title">User</h1>

  <form #form="ngForm" (ngSubmit)="updateUser()">
    <div class="flex flex-column gap-2 col-lg-2 input-field">
      <label htmlFor="firstName">First Name</label>
      <input pInputText id="firstName" name="firstName" [(ngModel)]="userDetails.firstName" />
      <!-- <small id="username-help">Enter your username to reset your password.</small> -->
    </div>
    <div class="flex flex-column gap-2 col-lg-2 input-field">
      <label htmlFor="lastName">Last Name</label>
      <input pInputText id="lastName" name="lastName" [(ngModel)]="userDetails.lastName" />
      <!-- <small id="username-help">Enter your username to reset your password.</small> -->
    </div>
    <div class="flex flex-column gap-2 col-lg-2 input-field">
      <label htmlFor="email">Email</label>
      <input pInputText id="email" name="email" [(ngModel)]="userDetails.email" />
      <!-- <small id="username-help">Enter your username to reset your password.</small> -->
    </div>
    <div class="flex flex-column gap-2 col-lg-2 input-field">
      <label htmlFor="password">Password</label>
      <input pInputText id="password" name="password" [(ngModel)]="userDetails.password" />
      <!-- <small id="username-help">Enter your username to reset your password.</small> -->
    </div>
    <div class="flex flex-column gap-2 col-lg-2 input-field">
      <label htmlFor="role">Role</label>
      <input pInputText id="role" name="role" [(ngModel)]="userDetails.role" />
      <!-- <small id="username-help">Enter your username to reset your password.</small> -->
    </div>
    <div class="flex flex-column gap-2 input-field save-button">
      <p-button type="submit">Save</p-button>
    </div>
    <div class="flex flex-column gap-2 input-field">
      <p-button type="button" styleClass="p-button-danger" (onClick)="deleteUser(userDetails.id)">Delete</p-button>
    </div>
  </form>

</div>

<app-footer></app-footer>
